* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
}

h1 {
    font-size: 64px;
}

section {
    position: relative;
    width: 90vw;
    min-height: 20vh;
    border-bottom: 2px solid #ff7e5f;
    display: grid;
    place-items: center;
}

#header1 {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-clip: text;
    color: transparent;
}

#header2 {
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExejhzcHpja2xpcHlxMjQyOHdibmd1N3Mwdm5rcnZicDc4OTYzM3B6ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/P0oHIBTX6hPHDzvEY3/giphy.gif');
    background-clip: text;
    color: transparent;
}

#header3 {
    color: transparent;
    position: relative;
}

#header3::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-clip: text;
    color: transparent;
}

#header4 {
    color: transparent;
    -webkit-text-stroke: 1px #ff7e5f;
    position: relative;
}

#header4::before {
    color: #ff7e5f;
    content: attr(data-text);
    position: absolute;
    inset: 0;
    width: 0;
    border-right: 2px solid #ff7e5f;
    overflow: hidden;
    animation: animate-fill 2s linear forwards alternate infinite;
}

@keyframes animate-fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

#clip-path-1 h1 {
    position: absolute;
    text-transform: uppercase;
    color: transparent;
}

#clip-path-1 h1:nth-child(1) {
    -webkit-text-stroke: 1px skyblue;
}

#clip-path-1 h1:nth-child(1) {
    color: skyblue;
    animation: animate-clip-path-1 2s linear forwards alternate infinite;
}

@keyframes animate-clip-path-1 {
    0% {
        clip-path: polygon(0 0, 11% 16%, 21% 34%, 37% 40%, 56% 44%, 69% 43%, 83% 28%, 100% 3%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 58%, 19% 73%, 31% 81%, 48% 86%, 65% 84%, 76% 74%, 86% 56%, 100% 37%, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(3% 69%, 8% 35%, 13% 21%, 26% 6%, 43% 0, 70% 7%, 84% 19%, 100% 39%, 100% 100%, 0 100%);
    }
}

#clip-path-2 h1:nth-child(1) {
    animation: animate-clip-path-2 2s linear forwards alternate infinite;
}

@keyframes animate-clip-path-2 {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

#clip-path-2 h1:nth-child(2) {
    animation: animate-clip-path-3 2s linear forwards alternate infinite;
}

@keyframes animate-clip-path-3 {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}